*

!.gitignore
!README.md

!.devcontainer/
!.devcontainer/devcontainer.json

!config/
!config/consul/
!config/consul/*.json
!config/haproxy/
!config/haproxy/*.cfg


!docker-compose.yaml

!*.go
!go.mod
!Dockerfile
